{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Título</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias odit, accusantium adipisci ipsam veniam assumenda quia quasi nemo amet. Quisquam optio labore omnis sit ratione molestias tenetur ab, qui dicta.</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/avatar.png" alt="avatar">
    </div>
</div>
{{> footer}}